.container {
    padding: 0 10px;
}

.item {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn {
    display: flex;
    color: black;
    width: 50px;
    padding: 5px;
    background-color: rgb(195, 255, 255);
    text-align: center;
    justify-content: center;
}
.btn:hover {
    background-color: bisque;
}